body {
  margin: 0;
  background: #121212;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.app {
  background: #212121;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2563eb;
  color: white;
}

#result {
  margin-top: 15px;
}
